@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#000000] text-slate-400 font-sans antialiased overflow-hidden select-none;
  }
}

@layer components {
  .instrumentation-grid {
    background-image: 
      linear-gradient(rgba(0, 255, 153, 0.05) 1px, transparent 1px),
      linear-gradient(90deg, rgba(0, 255, 153, 0.05) 1px, transparent 1px);
    background-size: 20px 20px;
  }

  .scanning-line {
    animation: scan 8s linear infinite;
  }

  @keyframes scan {
    0% { transform: translateY(-100%); opacity: 0; }
    5% { opacity: 0.2; }
    95% { opacity: 0.2; }
    100% { transform: translateY(1200%); opacity: 0; }
  }

  .custom-scroll::-webkit-scrollbar { width: 1px; }
  .custom-scroll::-webkit-scrollbar-track { @apply bg-transparent; }
  .custom-scroll::-webkit-scrollbar-thumb { @apply bg-[#00FF99]/20 hover:bg-[#00FF99]; }

  .line-clamp-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

input[type="range"] {
  background: linear-gradient(to right, rgba(0,255,153,0.1) 0%, rgba(0,255,153,0) 100%);
}

/* Needle Slider Styling */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1px;
  height: 20px;
  background: #00FF99;
  cursor: crosshair;
  box-shadow: 0 0 10px #00FF99;
}

input[type="range"]::-moz-range-thumb {
  width: 1px;
  height: 20px;
  background: #00FF99;
  cursor: crosshair;
  border: none;
  box-shadow: 0 0 10px #00FF99;
}